@model db.view.bs_Empl

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.entry.rowID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.emplName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.deptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.IDCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entry.remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.showData) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rowID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emplName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emplCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.emplCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emplCode })
        </td>
    </tr>
}

</table>
